<div class="container">

  <h1>Pending Characters</h1>

  <form action="/characters/approve" method="POST" class="form-group">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="panel panel-default">
    <!-- Default panel contents -->
      <table class="table sortable-theme-bootstrap" data-sortable>
        <th></th>
        <th>User</th>
        <th>Name</th>
        <th>Special</th>
        <th data-sorted="true" data-sorted-direction="descending">District/Area</th>
        <th>Age</th>
        <th>Gender</th>
        <th>View on HGRPG</th>
        <th>Approve?</th>

        <% @pending.each do |user, chars| %>
          <% chars.each do |char| %>
            <tr>
              <td><a href="/character/<%= char.id %>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></td>
              <td><%= user %></td>
              <td><label for="<%= char.id %>"><%= char.first_name %> <%= char.last_name %></label></td>
              <td><%= char.special %></td>
              <td><%= char.home_area %></td>
              <td><%= char.age %></td>
              <td><%= char.gender %></td>
              <td><a href="<%= char.bio_thread %>" target="_blank">[link]</a></td>

              <td><input type="checkbox" name="chr[]" id="<%= char.id %>" value="<%= char.id %>"></td>

              </tr>
            <% end %>
        <% end %>
      </table>

    </div>
    <button type="submit" class="btn btn-primary">Approve</button>
  </form>
</div>