<div class="container">
  <h1>Edit Character: <%= @char.first_name %> <%= @char.last_name %></h1>

  <%= form_for :character, url: '/character/update' do |f| %>

      <div class="col-lg-6">
      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">First Name</span>
        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First', value: @char.first_name, autofocus: true  %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Last Name</span>
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last', value: @char.last_name %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Bio Link</span>
        <%= f.url_field :bio_thread, class: 'form-control', placeholder: 'Bio Link', value: @char.bio_thread %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Age</span>
        <%= f.number_field :age, class: 'form-control', placeholder: 'Age', value: @char.age %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">District/Area</span>
        <%= f.text_field :home_area, class: 'form-control', placeholder: 'District/Area', value: @char.home_area %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Gender</span>
        <%= f.text_field :gender, class: 'form-control', placeholder: 'Gender', value: @char.gender %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">FC First Name</span>
        <%= f.text_field :fc_first, class: 'form-control', placeholder: 'FC First Name', value: @char.fc_first %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">FC Last Name</span>
        <%= f.text_field :fc_last, class: 'form-control', placeholder: 'FC Last Name', value: @char.fc_last %>
      </div>

        <% if @user.can_approve? %>
        <div class="panel panel-default">
          <div class="panel-heading">Admin Options</div>
          <div class="panel-body">
            <div class="input-group input-group">
              <span class="input-group-addon" id="sizing-addon1"><label for="character_char_approved">Character Approved?</label></span>
              <span class="input-group-addon right"><%= f.check_box :char_approved, checked: @char.char_approved %></span>
            </div>

            <div class="input-group input-group">
              <span class="input-group-addon" id="sizing-addon1"><label for="character_fc_approved">Face Claim Approved?</label></span>
              <span class="input-group-addon right"><%= f.check_box :fc_approved, checked: @char.fc_approved %></span>
            </div>
          </div>
        </div>

      <% end %>

      <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>