<div class="container col-lg-6">
    <h1>Create Character</h1>

    <%= form_for :character, url: '/character' do |f| %>

        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First', autofocus: true  %>
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last' %>
        <%= f.url_field :bio_thread, class: 'form-control', placeholder: 'Bio Link' %>
        <%= f.number_field :age, class: 'form-control', placeholder: 'Age' %>
        <%= f.text_field :home_area, class: 'form-control', placeholder: 'District/Area' %>
        <%= f.text_field :gender, class: 'form-control', placeholder: 'Gender' %>


        <%= f.submit 'Submit', class: 'btn btn-default' %>

    <% end %>
</div>