<div class="container col-lg-6">
    <h1>Create Character</h1>

    <%= form_for :character, url: '/character' do |f| %>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">First Name</span>
        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First', autofocus: true  %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Last Name</span>
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last' %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Bio Link</span>
        <%= f.url_field :bio_thread, class: 'form-control', placeholder: 'Bio Link' %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">Age</span>
        <%= f.number_field :age, class: 'form-control', placeholder: 'Age' %>
      </div>

      <div class="input-group input-group">
        <span class="input-group-addon" id="sizing-addon1">District/Area</span>
        <%= f.text_field :home_area, class: 'form-control', placeholder: 'District/Area' %>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Gender</div>
        <div class="panel-body">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
              <%= f.radio_button :gender, 'Male', class: 'form-control' %>  Male
            </label>
            <label class="btn btn-primary">
              <%= f.radio_button :gender, 'Female', class: 'form-control' %> Female
            </label>
            <label class="btn btn-primary">
              <%= f.radio_button :gender, 'Other', class: 'form-control' %> Other Genders
            </label>
          </div>
        </div>
      </div>

    <div class="panel panel-default">
      <div class="panel-heading">Special Types (optional)</div>
      <div class="panel-body">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <%= f.radio_button :special, 'Peacekeeper', class: 'form-control' %>  Peacekeeper
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :special, 'Avox', class: 'form-control' %> Avox
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :special, 'Mayor', class: 'form-control' %> Mayor
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :special, 'Victor', class: 'form-control' %> Gamemaker
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :special, 'Gamemaker', class: 'form-control' %> Victor
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :special, '', class: 'form-control' %> N/A
          </label>
        </div>
        <a href="/about#special-types"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      </div>
    </div>

      <div class="panel panel-default">
        <div class="panel-heading">Face Claim (optional)</div>
          <div class="panel-body">
            <div class="input-group input-group">
              <span class="input-group-addon" id="sizing-addon1">FC First Name</span>
              <%= f.text_field :fc_first, class: 'form-control', placeholder: 'FC First Name' %>
            </div>

            <div class="input-group input-group">
              <span class="input-group-addon" id="sizing-addon1">FC Last Name</span>
              <%= f.text_field :fc_last, class: 'form-control', placeholder: 'FC Last Name' %>
            </div>
        </div>
      </div>


        <%= f.submit 'Submit', class: 'btn btn-primary' %>

    <% end %>
</div>