<div class="container">

<h1>Viewing Character: <%= @char.first_name %> <%=  @char.last_name %>
  <% if @user.can_edit?(@char) %>
    <a href="/character/edit/<%= @char.id%>"><span class="glyphicon glyphicon-edit"></span></a>
  <% end %>
</h1>
<!--TODO: Make this less ugly-->
<% unless @char.char_approved %>
    <div class="alert alert-warning" role="alert">This character is still pending approval.</div>
<% end %>
<% unless @char.fc_approved %>
  <div class="alert alert-warning" role="alert">This character's face claim is still pending approval.</div>
<% end %>

    First Name: <%= @char.first_name %><br>
    Last Name: <%= @char.last_name %><br>
    Age: <%= @char.age %><br>
    Area: <%= @char.home_area %><br>
    Gender: <%= @char.gender %><br>
    Face Claim: <%= @char.fc_first %> <%= @char.fc_last %><br>
    <a href="<%= @char.bio_thread %>" target="_blank">View on HGRPG</a><br>

</div>