<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Character Results</div>
    <ul class="list-group">
      <% @results[:characters].each do |char| %>
        <a href="/character/<%= char.id %>" class="list-group-item"><%= char.first_name %> <%= char.last_name %> - <%= Character.pretty_area(char.home_area) %></a>
      <% end %>
      <% if @results[:characters].length == 0 %>
        <li class="list-group-item">No results found</li>
      <% end %>    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Member Results</div>
    <ul class="list-group">
      <% @results[:users].each do |user| %>
        <a href="/user/<%= user.id %>" class="list-group-item"><%= user.display_name %> [<%= user.username %>]</a>
      <% end %>
      <% if @results[:users].length == 0 %>
        <li class="list-group-item">No results found</li>
      <% end %>
    </ul>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">Advanced Search Tips:</div>
      <div class="container">
        <br>
        You can filter character results by specifying the district, special categories, gender, age, or age range, for example:
        <br>
      <ul class="list-group">
          <li class="list-group-item">district:1</li>
          <li class="list-group-item">district:capitol</li>
          <li class="list-group-item">age:15</li>
          <li class="list-group-item">special:avox</li>
          <li class="list-group-item">special:gamemaker</li>
          <li class="list-group-item">special:peacekeeper</li>
          <li class="list-group-item">gender:female</li>
          <li class="list-group-item">gender:other</li>
          <li class="list-group-item">older-than:11</li>
          <li class="list-group-item">younger-than:19</li>
      </ul>
        <br>
        You can also negate these categories (aside from age range) by prefixing each term with the <b>!</b> character:
        <br>
      <ul class="list-group">
          <li class="list-group-item">!district:wanderer</li>
          <li class="list-group-item">!age:18</li>
          <li class="list-group-item">!special:victor</li>
          <li class="list-group-item">!gender:male</li>
      </ul>
    </div>
  </div>

</div>