<div class="container">

  <script type="text/javascript">
    $(document).ready(function() {
      $(':checkbox').change(function(e){

        $("#available-characters").text('<%= @user.reaping_tickets %>' - $(':checkbox:checked').length)
        if ($(':checkbox:checked').length > '<%= @user.reaping_tickets %>') {
          $(this).prop('checked', false)
        }
      });
    });
  </script>

  <% if @check.is_active? %>
    <h1>Add <%= @user.display_name %>'s Characters to <%= @check.games.ordinalize%> Games Reaping Check</h1>

    <p>You are allowed to enter <b><%= @user.reaping_tickets %></b> characters total.
      You may enter <b><span id="available-characters"></span></b> more characters.
      <a href="/about#reaping-limit"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
    </p>
    <!--<p><a href="/about#reaping-limit">Read more about this policy here.</a></p>-->

    <form action="/checks/reaping/<%= @check.games %>/add" method="POST" class="form-group">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <input name="user_id" type="hidden" value="<%= @user.id %>" />
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Eligible Characters</div>

        <!--TODO: Make the table actually sortable-->

          <table class="table sortable-theme-bootstrap" data-sortable>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th data-sorted="true" data-sorted-direction="descending">District/Area</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Approved?</th>
            <th>View on HGRPG</th>
            <th>Add to Reaping Check</th>

            <% @user.characters.each do |char| %>

              <% if char.is_reapable? %>
                <tr>
                  <td><a href="/character/<%= char.id %>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></td>
                  <td><%= char.first_name %></td>
                  <td><%= char.last_name %></td>
                  <td><%= char.home_area %></td>
                  <td><%= char.age %></td>
                  <td><%= char.gender %></td>

                  <td>
                    <% if char.char_approved %>
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <% else %>
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <% end %>
                  </td>

                  <td><a href="<%= char.bio_thread %>" target="_blank">[link]</a></td>
                  <td><input type="checkbox" name="chk[]" id="<%= char.id %>" <%= char.reaping_checks.exists?(@check) ? 'checked' : '' %> value="<%= char.id %>"></td>
                </tr>
              <% end %>
            <% end %>
          </table>
      </div>
    <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Ineligible Characters</div>

      <table class="table sortable-theme-bootstrap" data-sortable>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th data-sorted="true" data-sorted-direction="descending">District/Area</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Approved?</th>
        <th>Special</th>
        <th>View on HGRPG</th>

        <% @user.characters.each do |char| %>

          <% unless char.is_reapable? %>

            <tr>
              <td><a href="/character/<%= char.id %>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></td>
              <td><%= char.first_name %></td>
              <td><%= char.last_name %></td>
              <td><span class='<%= ('1'..'12').include?(char.home_area) ? '' : 'alert-danger' %>' ><%= char.home_area %></span></td>
              <td><span class='<%= (12..18).include?(char.age) ? '' : 'alert-danger' %>' ><%= char.age %></span></td>
              <td><span class='<%= char.gender == 'Other' ? 'alert-danger' : '' %>' ><%= char.gender %></span></td>

              <td>
                <% if char.char_approved %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove alert-danger" aria-hidden="true"></span>
                <% end %>
              </td>

              <td>
              <span class='<%= char.special.blank? || char.special == 'Avox' ? '' : 'alert-danger' %>' ><%= char.special %></span>
              </td>

              <td><a href="<%= char.bio_thread %>" target="_blank">[link]</a></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% else %>
    <h1>Whoops</h1>
    <p>The <%= @check.games.ordinalize%> Games Reaping Check is closed.</p>
  <% end %>
</div>