<div class="container">
  <h1>Edit Tribute: <%= @tribute.name %></h1>
  <script type="text/javascript">
    $('.selectpicker').selectpicker();
  </script>

  <form action="/hero/tribute/edit/<%= @tribute.id %>" method="POST" class="form-group">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <!-- Default panel contents -->

        <% @tribute.attributes.each do |key, value| %>
          <% unless key.include?('id') || key.include?('_at') || key == 'type' %>
        <!-- TODO: CUT THIS SHIT OUT -->
          <div class="input-group input-group">
            <span class="input-group-addon" id="sizing-addon1"><%= key %></span>
            <input class="form-control" type="text" name="attrs[]" placeholder="<%= key %>" id="<%= key %>" value="<%= value %>">

          </div>

          <% end %>
        <% end %>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>



</div>