<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="list-group-item-heading">
        <%= @tribute.name %>
        <small><a href="/user/<%= @tribute.user_id %>" class="panel-title">[ <%= @tribute.username.downcase %> ]</a></small>
        <% if current_user.is_gm_for?(Hero::Games.current_games_number) %>
          <a href="/hero/tribute/edit/<%= @tribute.id%>"> <span class="badge pull-right">edit <span class="glyphicon glyphicon-edit"></span></span></a>
        <% end %>
      </h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Attributes:</b> <%= @tribute.attributes %></li>
    </ul>
  </div>



</div>