<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="list-group-item-heading">
        <%= @user.display_name %> [<%=  @user.username %>]
        <% if @viewing.can_edit?(@user) %>
          <a href="/user/edit/<%= @user.id%>"> <span class="badge pull-right">edit <span class="glyphicon glyphicon-edit"></span></span></a>
        <% end %>
      </h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Rank:</b> <%= @user.group.capitalize %></li>
      <li class="list-group-item"><b>Date Registered:</b> <%= @user.created_at.strftime('%-d %B %Y, %-l:%M%P') %></li>
      <li class="list-group-item"><b>Characters:</b> <%= @user.characters.count %></li>
      <a href="/user/<%= @user.id %>" class="list-group-item list-group-item-info" target="_blank">
        View Characters <span class="glyphicon glyphicon-share" aria-hidden="true"></span> </a>
    </ul>
  </div>
</div>