<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="list-group-item-heading">
        <%= @user.display_name %> [<%=  @user.username %>]
        <% if current_user.can_edit?(@user) %>
          <a href="/user/edit/<%= @user.id%>"> <span class="badge pull-right">edit <span class="glyphicon glyphicon-edit"></span></span></a>
        <% end %>
      </h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Rank:</b> <%= @user.group.capitalize %></li>
      <li class="list-group-item"><b>Date Registered:</b> <%= @user.created_at.strftime('%-d %B %Y, %-l:%M%P') %></li>
      <li class="list-group-item"><b>Characters:</b> <%= @user.characters.count %></li>
      <a href="/user/<%= @user.id %>/characters" class="list-group-item" target="_blank">
        View Characters <span class="glyphicon glyphicon-share" aria-hidden="true"></span> </a>
    </ul>
  </div>

  <% if current_user.id == @user.id %>
    <% if @latest_checks[:reaping][:active] %>
      <div class="alert alert-info" role="alert">
        The <%= @latest_checks[:reaping][:games].ordinalize %> Games Reaping Check is currently active.
        <a href="/checks/reaping/<%= @latest_checks[:reaping][:games] %>/add/<%= @user.id %> " class="alert-link">
          Manage your reaping check <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    <% end %>
    <% if @latest_checks[:activity][:active] %>
      <div class="alert alert-info" role="alert">
        The <%= @latest_checks[:activity][:games].ordinalize %> Games Activity Check is currently active.
        <a href="/checks/activity/<%= @latest_checks[:activity][:games] %>/add/<%= @user.id %> " class="alert-link">
          Manage your activity check <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    <% end %>
  <% end %>

</div>