<!DOCTYPE html>
<html>
<head>
  <title>Warehouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var countries = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 10,
      prefetch: {
        // url points to a json file that contains an array of country names, see
        // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
        url: <%= Rails.root.join('api', 'suggestions.json') %>,
        // the json file contains an array of strings, but the Bloodhound
        // suggestion engine expects JavaScript objects so this converts all of
        // those strings
        filter: function(list) {
          return $.map(list, function(country) { return { name: country }; });
        }
      }
    });

    // kicks off the loading/processing of `local` and `prefetch`
    countries.initialize();

    // passing in `null` for the `options` arguments will result in the default
    // options being used
    $('#prefetch .typeahead').typeahead(null, {
      name: 'countries',
      displayKey: 'name',
      // `ttAdapter` wraps the suggestion engine in an adapter that
      // is compatible with the typeahead jQuery plugin
      source: countries.ttAdapter()
    });
    // replace above with below, except right... also need a way to link to values
    $(function () {
      $('.local-type').typeahead({
        name: 'local-tt',
      }, {
        source: function (query, cb) {
          cb(data);
        },
        templates: {
          empty: [
            '<div class="empty-message">',
            'unable to find any Best Picture winners that match the current query',
            '</div>'].join('\n'),
          suggestion: Handlebars.compile('<p><strong>{{locality}}</strong> – {{city}}</p>')
        }
      });
    });
  </script>

</head>
<body>
<!--<div class="container">-->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Warehouse</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/character/new">New Character</a></li>
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/characters">Characters</a></li>
                <li><a href="/characters/fcs">Face Claims</a></li>
                <li><a href="/users">Users</a></li>
                <li class="divider"></li>
                <li><a href="/checks/reaping">Reaping Checks</a></li>
                <li class="divider"></li>
                <li><a href="/checks/activity">Activity Checks</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search" action="/search" method="get">
            <!--<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />-->
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="query" >
            </div>
            <button type="submit" class="btn btn-default" >Go</button>
          </form>
          <ul class="nav navbar-nav navbar-right">

            <% if current_user %>
                <% if current_user.admin_panel? %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Panel <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/checks/new/reaping">New Reaping Check</a></li>
                        <li><a href="/checks/new/reaping">New Activity Check</a></li>
                        <% if ReapingCheck.current_games %>
                          <li class="divider"></li>
                          <li><a href="/checks/reaping/<%= ReapingCheck.current_games %>/tessera">Approve Tessera</a></li>
                        <% end %>
                        <li class="divider"></li>
                        <li><a href="/characters/pending">Pending Characters</a></li>
                        <li><a href="/characters/fcs/pending">Pending FCs</a></li>
                        <li class="divider"></li>
                        <li><a href="/#">Ban List</a></li>
                      </ul>
                    </li>
                <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.display_name %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/user/<%= current_user.id %>">Profile</a></li>
                <li><a href="/user/<%= current_user.id %>/characters">Characters</a></li>
                <li><a href="/checks">Active Checks</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                <ul class="dropdown-menu" style="padding-left: 5px; padding-right: 5px;" role="menu">
                  <form action="/login" method="POST" class="form-group">
                      <li style="padding-bottom: 5px;" ><input type="text" class="form-control" placeholder="Username or Email" name="email_or_username"></li>
                      <li style="padding-bottom: 5px;" ><input type="password" class="form-control" placeholder="Password" name="password"></li>
                      <li><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></li>
                      <li><button type="submit" class="btn btn-default">Submit</button></li>
                  </form>
                  <li class="divider"></li>
                  <li><a href="/signup">Register</a></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>
  <br>
<!--</div>-->
</body>
</html>
